

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html{ 
    height:100%; 
}
body{ 
    position:absolute; top:0; bottom:0; right:0; left:0;
    height: 100%;
    background-image: url(../pics/flakes2.jpg);
}

#header{
    height: 15%;
    text-align: center;
}
#content{
    border: solid;
    height: 60%;
    text-align: center;
}
#footer{
    height: 20%;
    position: relative;
    bottom: 0;
}


#canvasDiv{
    width: 402px;
    margin: 0 auto;
    margin-top: 8%;
}

#center{
    alignment-adjust: middle;
}
#firstrow{
    margin-top: 4%;
    height: 10%
}
#vert{
    vertical-align: middle;
    min-height: 100%;
}
#bf{
    vertical-align: middle;
    min-height: 100%;
}
#input {
    border: none;
}
.drawanswer{
    width:80%;
    margin-left: 10%;
    margin-top: 3%;
    height: 20%;
}
.drawanswer1{
    width:80%;
    margin-left: 20%;
    margin-top: 5%;
    height: 20%;
}
.quizanswer{
    width:60%;
    margin-left: 20%;
    margin-top: 3%;
    height: 10%;
}
.btn-xl{
    padding: 18px 28px;
    font-size: 20px;
}
.btn-x2 {
    padding: 18px 28px;
    font-size: 20px;
}
.qanswer {
    width:80%;
    margin-left: 10%;
    margin-top: 2%;
    height: 18%;
}
.canvasBox{
    margin-top: -1%;
    margin-left: 5%;
    float:left;
    height:85%;
}
.community{
    float: left;
    float: bottom;
    margin-right: 50%;
    margin: 5%;
}
.question-mobile{
    margin: 3%;
    margin-top: 5%;
    text-align: center;
}
.qrBox{
    margin-top: -3%;
    float:right;
    height:85%;
    margin: 5%
}

#code{
    height:150px;
    width: 150px;
    position:absolute;
    right:1%;
    bottom:1%;
}